
<% @theatres.each do |theatre| %>
	<h2> <%= theatre.to_s %> </h2>
	<% @movies.each do |movie| %>
		<% if movie.cinema == theatre %>
			<h3> <%= movie.title %> </h3>
			<p> <%= movie.version %></p>
			<p> <%= movie.sessions %> </p>
			<% end %>
	<% end %>
<% end %>


